<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registrarse</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/icono.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio'%}">
                    <img src="{% static 'assets/icono.png' %}" alt="" width="60" height="20" class="d-inline-block align-text-top">
                    Wiki F1
                </a>

                <div class="container">
                    {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-outline-warning" href="{% url 'pilotos'%}">Pilotos</a>
                    <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}"">Cerrar Sesión</a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-warning" href="{% url 'registro' %}"">Registrarse</a>
                    <a class="btn btn-sm btn-outline-warning" href="{% url 'login' %}"">Iniciar Sesión</a>
                    {% endif %}
                </div>  
    
            </div>
        </nav>
        
        <div class="container">

                <div class="form-signin w-25 m-auto mt-5">
                    <form action="{% url 'registro' %}" method="POST" > {% csrf_token %}
                        <h1 class="h3 mb-3 fw-normal"> <img class="mb-4" src="{% static 'assets/icono.png' %}" alt="" width="120" height="50">Registrarse</h1>

                        <p class="text-danger mb-3"> {{mensaje}} </p>
        
                        <div class="form-floating mb-3">
                            {{form.username}}
                            <label for="username">Nombre de Usuario</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{form.email}}
                            <label for="email">Correo Electrónico</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{form.password1}}
                            <label for="password">Contraseña</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            {{form.password2}}
                            <label for="password2">Ingrese Contraseña nuevamente</label>
                        </div>

                        
                    
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Acepto los <a href="{% url 'terminosycondiciones' %}">Términos y condiciones</a>
                            </label>
                        </div>
                        <button class="w-100 btn btn-outline-warning mb-3" type="submit">Registrarse</button>
                        <span class="text-secondary">Una vez te registres vas a poder Iniciar Sesión.</span>
                    </form>
                </div>
            
            </div>
        </div>


        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
